:root {
    --mainTextColor: #fff;
    --secondaryTextColor: #adb0b1;
    --mainLinkColor: rgb(30, 190, 214);
    --mainBorderColor: #2b3031;
    --mainBgColor: #131415;
    --cardBoxShadow: 10px 0px 40px rgba(255, 255, 255, .1),
        -10px 0px 40px rgba(255, 255, 255, .1);
}