@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap");

:root {
  --fontFamily: 'Readex Pro';

  --mainTextColor: #000;
  --secondaryTextColor: rgb(51, 51, 51);
  --mainLinkColor: #0da2b8;
  --mainBorderColor: rgb(218, 218, 218);
  --mainBgColor: rgb(249, 250, 251);
  --cardBoxShadow: 10px 0px 40px rgba(0, 0, 0, .3),
    -10px 0px 40px rgba(0, 0, 0, .3);

}

* {
  font-family: var(--fontFamily);
  line-height: 1.5em;
  box-sizing: border-box;
  color: var(--mainTextColor);
}

body {
  background-color: var(--mainBgColor);
  transition: all 0.3s ease-in-out;
}

p,
span,
li,
em {
  color: var(--secondaryTextColor);
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--secondaryTextColor);
  font-size: 500;
}

i {
  color: var(--mainTextColor);
}

li {
  line-height: 1.9em;
}

#toggler {
  position: absolute;
  right: 20px;
}

#container {
  max-width: 700px;
  margin: 0 auto;
}

.section-page {
  padding: 1em 0;
}

.pointer-disable {
  pointer-events: none;
}

#main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

#main-header #profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

#main-header #bio,
#main-header a {
  font-weight: 300;
}

#main-header #bio #user-name {
  font-size: 3em;
  margin-bottom: 0;
  line-height: 1em;
}

#email a:hover {
  color: var(--mainLinkColor);
  transition: 0.3s ease-in-out;
}

#social-links {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

#social-links a {
  font-size: 0.9em;
  color: var(--secondaryTextColor);
  transition: all 0.3s ease-in-out;
}

#social-links a:focus,
#social-links a:hover {
  color: var(--mainLinkColor);
}

#education {
  display: flex;
  flex-direction: column;
}

#education .section-title {
  font-size: 2em;
}

#education #cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

#education .card {
  width: 100%;
  padding: 0 20px;
  border: 1px solid var(--mainBorderColor);
  border-radius: 10px;
}

#education .card p {
  font-weight: 500;
}

#education .card .content-title {
  font-weight: bold;
}

#techstack-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 0.9em;
}

#techstack-wrapper .techstack-item {
  border: 1px solid var(--mainBorderColor);
  padding: 0.5em 1em;
  border-radius: 5px;
}

#work-history .card {
  border-left: 1px solid var(--mainBorderColor);
  margin: 3em 0;
  padding-left: 2em;
}

#work-history .line-break {
  background: var(--mainBorderColor);
  height: 1px;
}

.project-card {
  padding: 1em 0;
  border-top: 1px solid var(--mainBorderColor);
}

.project-card a {
  color: var(--mainTextColor);
  transition: 0.3s;
}

.project-card a:hover {
  color: var(--mainLinkColor);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  justify-content: center;
  gap: 20px;
  padding: 2em 0;
}

.gallery a,
.gallery img {
  width: 100%;
  height: 100%;
  background-position: center;
}

.gallery .card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--mainBorderColor);
  transition: all 0.3s ease-in-out;
}

.gallery .card:hover {
  box-shadow: var(--cardBoxShadow);
  transform: translateY(10px);
}

.card .card-content {
  text-align: center;
}

/* Projects Page Links */
.project-link {
  color: var(--mainLinkColor);
}

/* SMALL SCREENS */
@media (max-width: 600px) {
  #main-header {
    flex-direction: column;
    gap: 1em;
  }

  #main-header #profile-pic {
    width: 200px;
    height: 200px;
  }

  #main-header #bio {
    text-align: center;
  }

  .section-page {
    padding: 1em;
  }

  #work-history .card {
    border: none;
    padding-left: 0;
  }
}

/* EXTRA SMALL SCREENS */
@media(max-width:450px) {
  #social-links {
    flex-direction: column;
  }

  #social-links a {
    margin-bottom: 1em;
  }
}